'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Column Select Mode'
      'submenu': [
        {'label': 'Toggle', 'command': 'pulsar-column-select-mode:on'},
        {'label': 'Toggle', 'command': 'pulsar-column-select-mode:off'}
      ]
    ]
  }
]
